---
title: home
layout: generic
custom_head: home/landing-page-head.html
---

<!--
<div class="navbar2 vertical-landing-page-menu">
  <div class="navbar-default side-nav vertical-nav">
      <div class="container-fluid">
        <div class="row">
          <ul class="nav nav2-list" style="padding-left: 0px;">
            <li class="t-title"><a href="#about" class="page-scroll">Test</a></li>
            <li class="t-title"><a href="#calendar" class="page-scroll">Calendar</a></li>
            <li class="t-title"><a href="#contact" class="page-scroll">Contact Us</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
-->

{% include home/hero.html %}
{% include home/about.html %}
{% include home/featured_blog_post.html %}
{% include home/calendar.html %}
{% include home/contact.html %}
