<h1 id="page-title">Connect</h1>
<div id="spotlight-card">
			Collaborate with teachers, students, and OpenStreetMap contributors to bring OSM to your classroom or school activity. 
</div>

<div class="glitch-embed-wrap" style="height: 420px; width: 100%;">
  <iframe
    src="https://glitch.com/embed/#!/embed/teachosm-network?path=script.js&previewSize=100"
    title="teachosm-network on Glitch"
    allow="geolocation; microphone; camera; midi; encrypted-media; xr-spatial-tracking; fullscreen"
    allowFullScreen
    style="height: 100%; width: 100%; border: 0;">
  </iframe>
</div>

