<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <a href="http://twitter.com/teachosm">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/TEACHOSM/">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://github.com/osmlab">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="{{site.baseurl}}/privacy-policy">Privacy Policy</a>
          </li>
          <li><a href="{{site.baseurl}}/terms-of-use">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
