---
title: resources
permalink: "/resources/"
layout: default
---

<div class="resources">
	<section class="resources-title">
		<h1 class="page-title">Resources</h1>
		<div class="summary-card">
			<p>"Resources: a source of supply or support : an available means —usually used in plural"</p>
		</div>
	</section>
	<section class="meet-mappers">
		<h2 id="mappers-title">Discover Mappers Near You</h2>
		<a href="https://mym.rtijn.org/" text-decoration:none><h3>https://mym.rtijn.org/</h3></a>
		<div id="mappers-search">
		</div>
		<container id="mappers-map">
			<img src="" alt="">
		</container>
	</section>
	<div>
	<section class="more-resources">
		<h2 id="more-resources-title">More Resources<h2>
		<div id="resource-card">
			{% assign resources = site.resources | sort: 'category' %}
			{% for resource in resources %}
				<img src="./collections/_resources/{{resource['img']}}" alt="">

			{% endfor %}
		</div>
	</section>
</div>
