.resources {
	#resources-title {
		margin-top: 62px;
		margin-bottom: 200px;
		max-width: 1000px;
		margin: 100px auto;
		position: relative;


		#page-title {
			font-size: 40px;
			font-weight: bold;
			font-family: "Anderson_Grotesk", sans-serif;
			font-style: italic;
			text-align: center;
			margin-bottom: 30px;
		}

		#spotlight-card {
			background-color: white;
			display: block;
			margin: 0 auto;
			max-width: 1000px;
			text-align: left;

			p {
				font-size: 24px;
				padding: 10px;
				text-align: block;
				margin-left: 15%;
				margin-right: 15%;

				@media (max-width: $tablet-width) {
					text-align: center;
				}
			}
		}
	}

	#meet-mappers {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0px;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: auto;
		margin-bottom: 100px;

		img {
			width: 56%;
			height: 500px;
			position: absolute;
			z-index: 1;

			@media (max-width: $tablet-width) {
				max-height: 200px;
				width: 100%;
				display: block;
				position: relative;
			}
		}

		/* 1200 breakpoint for mym section */

		#MYM-right {
			background-color: rgb(20,27,35);/*linear-gradient(to left,rgba(20,27,35,1), rgba(20,27,35, 0)) */
			height: 500px;
			width: 65%;
			margin-left: 40%;
			padding: 100px;

			@media (max-width: $tablet-width) {
				width: 100%;
				height: auto;
				display: block;
				position: relative;
				margin-left: 0;
				padding-top: 5px;
				padding: 0;
				padding-bottom: 5px;
			}

			a,h3 {
				text-decoration: none !important;
				color: $primary-color !important;
				font-size: 15px !important;
			}

			#mappers-title {
				color: $primary-color;
				text-align: center;
				margin-bottom: 30px;

				@media screen and (max-width: $tablet-width) {
					margin-top: 0;
					padding-top: 21px;
				}
			}

			#MYM-description {
				color: white;
				width: 50%;
				text-align: center;
				margin-bottom: 20px;
				margin: auto;
				font-size: 20px;

				@media (max-width: $tablet-width) {
					width: 100%;
					margin: auto;
				}
			}

			#MYM-map {
				position: relative;
				margin-top: 10px;
				height: 100px;
				width: 100%;

				#MYM-button {
					font-size: 20px;
					color: rgb(20,27,35);
					text-align: center;
					width: 150px;
					max-width: 20%;
					margin: 50px auto;

					@media (max-width: $tablet-width) {
						font-size: 16px;
						margin-left: auto !important;
						margin-right: auto !important;
					}
				}
			}
		}
	}

	.more-resources {
		margin-bottom: 50px;
		height: 1200px;
		padding-top: 50px;

		@media (max-width: $tablet-width) {
			max-width: 40%;
			margin: auto;
			text-align: center;
			text-decoration: none;
		}

		@media (max-width: $mobile-width) {
			max-width: 80%;
		}

		#more-resources-title {
			margin-left: 1.5%;
		}
		#resource-card {
			border-radius: 4px;
			border: 2px solid $primary-color;
			display: grid;
			grid-gap: 8px 8px;
			grid-template: 1fr 48px / repeat(6, 1fr);
			padding: 16px;
			float: left;
			width: 30%;
			height: 250px;
			margin: 1.5%;
			text-decoration: none;
			overflow: hidden;
			position: relative;
			color: black;

			@media (max-width: $tablet-width) {
				height: auto;
				display: block;
				position: relative;
				width: 100%;
			}

			#summary-container {
				color: black;
				position: relative;
				width: 100%;
				grid-column-start: 1;
				grid-column-end: 4;
				overflow-y: auto;

				@media (max-width: $tablet-width) {
					display: block;
					position: relative;
					width: 100%;
				}

				h3,h4,p {
					color: black;
				}

				h3 {
					font-size: 20px;
				}

				h4 {
					font-size: 16px;
				}

				p {
					font-size: 12px;
					word-wrap: break-word;
					color: black;
				}
			}

			#photo-container {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				grid-column-start: 4;
				grid-column-end: 7;

				@media (max-width: $tablet-width) {
					display: block;
					position: relative;
					top: auto;
					transform: none;
					width: 100%;
				}

				img {
					border-radius: 5%;
					height: auto;
					max-height: 175px;
					margin: 0 auto;
					margin-bottom: 16px;
					margin-top: 16px;
					text-align: center;
					width: 100%;
					position: relative;
				}

				.card-tags {
					border-top: 16px;
					margin-bottom: 16px;
				}
			}
		}
	}
}
