---
title: add-project
permalink: "/projects/add"
layout: generic
---

<header>
  <h1 class="page-title">Create Project</h1>
  <a class="btn primary-button" href='{{site.baseurl}}/projects'>Back to Projects</a>
</header>
<form id="add-project-form" action="#" class="hidden">
  <div>
    <h1>User Information</h1>
    <section>
      <p>Welcome to the Create Project form. This form was built to make it easy for contributors to add new projects to the TeachOSM projects portal. Please start by answering a couple questions about yourself.</p>
      <label for="name" data-toggle="tooltip" data-placement="right" title="The name entered here will show up as the author of the project">What is your name? *</label>
      <input id="name" name="name" type="text" class="required">
      <label for="osmUsername" data-toggle="tooltip" data-placement="right" title="If you do not have an OSM username, please sign up at OpenStreetMap.org">What is your OSM username? *</label>
      <input id="osmUsername" name="osmUsername" type="text" class="required">
      <label for="confirmOSMUsername">Please confirm your OSM username *</label>
      <input id="confirmOSMUsername" name="confirmOSMUsername" type="text" class="required">
    </section>
    <h1>Project Information</h1>
    <section>
      <p>Next let's add the project information and resources, including the content you would like to upload as project materials.</p>
      <label for="projectTitle">What is your project's title? *</label>
      <input id="projectTitle" name="projectTitle" type="text" class="required">
      <label for="projectSubtitle">What is your project's subtitle? (optional)</label>
      <input id="projectSubtitle" name="projectSubtitle" type="text">
      <label for="projectDescription">Please provide a brief description of the project. *</label>
      <textarea id="projectDescription" name="projectDescription" class="required"></textarea>
      <label class="top-margin" data-toggle="tooltip" data-placement="right" title="This will appear beside your project on the site and should be a .png, .jpg, or .tif file">Please upload a project image. *</label>
      <br />
      <label style="font-style: italic;">You can either drag and drop an image or click on the "Upload Image" box below</label>
      <div class="uploadable">
        <input id="projectImage" name="projectImage" type="file" accept="image/*" class="required" />
        <label id="projectImageLabel" for="projectImage"><i class="fa fa-image"></i><br />Upload Image</label>
      </div>
      <label class="top-margin" data-toggle="tooltip" data-placement="right" title="This is the main content that users will download to help teach the course and should have one of these extensions: .pdf, .doc, .docx, .odt, .xls, .xlsx">Please upload your project materials. *</label>
      <br />
      <label style="font-style: italic;">You can either drag and drop your file or click on the "Upload File" box below</label>
      <div class="uploadable">
        <!--<input id="projectFile" name="projectFile" type="file" accept=".pdf,.doc,.docx,.odt,.xls,.xlsx,.csv,.ppt,.pptx,.jpg,.jpeg,.png" class="required" />-->
        <input id="projectFile" name="projectFile" type="file" class="required" />-
        <label id="projectFileLabel" for="projectFile"><i class="fa fa-upload"></i><br />Upload File</label>
      </div>
      <br />
      <label for="videoLink">Or if your resource is a video, insert the YouTube video link</label>
      <input id="videoLink" name="videoLink" type="text" onkeyup="formChanged()" onchange="formChanged()">
      <div id="videoPreview" style="display:none">
        <label>Preview Video</label>
        </br>
        <iframe id="videoFrame" src=""
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
      </div>
      <script>
      
        function getId(url) {
            const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
            const match = url.match(regExp);

            return (match && match[2].length === 11)
              ? match[2]
              : null;
        }

        let videoID = '';
        
        function formChanged() {
            console.log('form changed');
            var input = document.getElementById("videoLink").value;
            console.log('print input');
            console.log(input);
            //does YouTube link contain embed?
            videoID = getId(input);
            input = "https://www.youtube.com/embed/" + videoID;
            document.getElementById("videoFrame").src = input;
            var x = document.getElementById("videoPreview");
              if (x.style.display === "none") {
                x.style.display = "block";
              }
        }
    </script>
    </section>
    <h1>Filters and Tags</h1>
    <section>
      <p>Next, let's select some filters and tags to make it easier for people to find your project in the TeachOSM portal. The Audience and Education Activity Duration categories allow for one or more options to be selected.</p>



      {% for filter in site.filters %}
        <div class="project-filter-list">
          {% if filter.tooltip %}
            <label data-toggle="tooltip" data-placement="right" title="{{ filter.tooltip }}" > {{ filter.title }} *</label>
          {% else %}
            <label>{{ filter.title }} *</label>
          {% endif %}
          <div class="project-filter-options-wrapper">
          {% if filter.type == "radio" %}
            {% for option in filter.options %}
              <div class="project-filter-option">
                <input id="{{ filter.name }}::{{ option.name }}" type="radio" name="{{ filter.name }}" value="{{ option.value }}" class="required {{ filter.name }}-filter" />
                <label for="{{ filter.name }}::{{ option.name }}">{{ option.name }}</label>
              </div>
            {% endfor %}
          {% else %}
            {% for option in filter.options %}
              <div class="project-filter-option">
                <input id="{{ filter.name }}::{{ option.name }}" type="checkbox" name="{{ filter.name }}" value="{{ option.value }}" class="required {{ filter.name }}-filter" />
                <label for="{{ filter.name }}::{{ option.name }}">{{ option.name }}</label>
              </div>
            {% endfor %}
          {% endif %}
          
          </div>
        </div>
      {% endfor %}
      
      
      
      
      <label for="tagSelector">Tags</label>
      <p>Select as many tags from the drop-down menu as you would like. You may also create your own custom tags by typing and then selecting them from the drop-down menu.</p>
      <input id="tagSelector" data-placeholder="Select tags" />
    </section>
    <h1>Finish and Submit</h1>
    <section>
      <p>That's it! Thank you for contributing to the TeachOSM project portal. After a quick review, your project will be uploaded to the portal and be available for teachers everywhere to help them with their work.</p>
      <br />
      <div class="g-recaptcha" data-sitekey="6LdylbMUAAAAAHuUEVFVmstJkdafdAG9Z0LB6ziN"></div>
      <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
      <br />
      <p>Press the "finish" button below to submit your project.</p>
    </section>
  </div>
</form>

