---
layout: default
---
<div id='ads' class='marginL cell9 padAll'>
  <div class='ad1 cell12'>
    <a href='{{site.baseurl}}/{{page.lang}}/intro/whyteach/'>
      <span class='ad-title'>{{ page.begspan }}</span>
      <span class='ad-txt'>{{ page.beg }}</span>
      <span class='door'></span>
    </a>
  </div>
<!--
  <div class='ad2 cell4'>
    <a href='{{page.interspanlink}}'>
      <span class='ad-title'>{{page.interspan}}</span>
      <span class='ad-txt'>{{ page.inter }}</span>
    </a>
  </div>
  <div class='ad3 cell4'>
    <a href='{{page.interspanlink}}'>
      <span class='ad-title'>{{page.advspan}}</span>
      <span class='ad-txt'>{{page.adv}}</span>
    </a>
  </div>
-->
</div>

<div id='front' class='marginL cell9 padAll'>
  <div class='front-text cell7 marginR'>
    <h4 class='tagtitle'>{{ page.teachtitle }}</h4>
    <p class='tagwords'>{{ page.teachintro }}</p>
  </div>
  <div class='faqbox cell4'>
    <h4>{{page.faq}}</h4>
    <ul class='faq'>
      <li><a href='{{site.baseurl}}/{{page.lang}}/intro/whyteach/'>{{page.faqA}}</a></li>
      <li><a href='{{site.baseurl}}/{{page.lang}}/workflow/'>{{page.faqB}}</a></li>
      <li><a href='{{site.baseurl}}/{{page.lang}}/cases/'>{{page.faqC}}</a></li>
      <li><a href='{{site.baseurl}}/{{page.lang}}/resources/'>{{page.faqD}}</a></li>
  </div>
  <div class='front-text cell7 marginR'>
    <h4 class='tagtitle'>{{ page.osmtitle }}</h4>
    <p class='tagwords'>{{ page.osmintro }}</p>
  </div>
</div>
<script>
// detect if ad is overflowing
var spanTitle = $('span.ad-title','#ads');
  $.each(spanTitle, function(i,el){
  var titleParent = el.parentElement,
      titleSister = el.nextElementSibling;
  var titleHeight = el.offsetHeight,
      txtHeight = titleSister.offsetHeight,
      adHeight = titleParent.offsetHeight;
  if (titleHeight + txtHeight > adHeight) {
    titleSister.style.display = 'none'
  } 
});
</script>
