<!doctype html>
<html>
  {% include head.html %}
  <body data-spy="scroll" data-target=".navbar2" data-offset="450">
    <div class="page">
      {% include navbar.html %}
      <div class="blog-post content">
        <div class="blog-post-title">
          {{ page.title }}
        </div>
        {% if page.author %}
        <span class="blog-post-by-line">
          <span>By </span>
          <span class="blog-post-author">{{ page.author }}</span>
        </span>
        <span class="blog-post-bullet">&nbsp;&#8226;&nbsp;</span>
        {% endif %}
        {% if page.date %}
        <span class="blog-post-date">{{ page.date | date: "%B %d, %Y" }}</span>
        {% endif %}
        </br>
        </br>
        </br>
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
