<!doctype html>
<html>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto;
}
</style>

{% assign file_parts = page.thumbnail | split: '.' %}
{% assign file_name = file_parts[0] %}
{% assign file_extension = file_parts[1] %}

{% assign thumbnail_file = file_name | append: '_thumbnail.' | append: file_extension %}



  {% include head.html %}
  <body data-spy="scroll" data-target=".navbar2" data-offset="450">
    <div class="page">
      {% include navbar.html %}
      
      <content class="project-content">
      
        <div>
            
            <img id="thumbnailImage" src="https://{{ site.PICS_UPLOADS_BUCKET }}-{{ site.STAGE }}.s3.amazonaws.com/{{ thumbnail_file }}" alt="thumbnail" >

        </div>

        
        <header class="project-title">
          <h1>{{ page.title }}</h1>
          <h3>{{ page.subtitle }}</h3>
          <p>{{ page.author }}</p>
        </header>
        
        
        
        
        <div class="project-filters-display">
          <h3>Project Type:</h3>
          <p>
            {% case page.type %}
              {% when 'desktop' %}
              Desktop
              {% when 'field' %}
              Field
              {% when 'mobile' %}
              Mobile
            {% endcase %}
          </p>
          
          <h3>Audience:</h3>
          <p>
          
          {%- for selection in page.audience %}
            {%- case selection %}
              {%- when 'primary' %}
              Primary
              {%- when 'high_school' %}
              High School / Secondary
              {%- when 'community_college' %}
              Community College
              {%- when 'university' %}
              University
              {%- when 'other' %}
              Other
            {%- endcase %}
            {%- if forloop.last -%}
             
            {%- else -%}
            ,
            {%- endif -%}
          {%- endfor %}
          
          {% comment %}
            {% case page.audience %}
              {% when 'primary' %}
              Primary
              {% when 'high_school' %}
              High School / Secondary
              {% when 'community_college' %}
              Community College
              {% when 'university' %}
              University
              {% when 'other' %}
              Other
            {% endcase %}
         {% endcomment %}
          </p>
          <h3>Difficulty:</h3>
          <p>
            {% case page.difficulty %}
              {% when 'beginner' %}
              Beginner
              {% when 'intermediate' %}
              Intermediate
              {% when 'advanced' %}
              Advanced
            {% endcase %}
          </p>
          <h3>Educator Preparation Time:</h3>
          <p>
            {% case page.preparation_time %}
              {% when 'less_than_one_hour' %}
              < 1 hour
              {% when 'one_hour' %}
              1 hour
              {% when 'two_to_four_hours' %}
              2 - 4 hours
              {% when 'one_day' %}
              1 day
              {% when 'more_than_one_day' %}
              > 1 day
            {% endcase %}
          </p>
          <h3>Education Activity Duration:</h3>
          <p>
          
          {%- for selection in page.project_time %}
            {% case selection %}
              {% when 'less_than_one_hour' %}
              < 1 hour
              {%- when 'one_hour' %}
              1 hour
              {%- when 'two_to_four_hours' %}
              2 - 4 hours
              {%- when 'one_day' %}
              1 day
              {%- when 'more_than_one_day' %}
              > 1 day
              {% when 'flexible' %}
              flexible
            {% endcase %}
            {%- if forloop.last -%}
             
            {%- else -%}
            ,
            {%- endif -%}
          {%- endfor %}

          </p>
        </div>
        
        
        <!-- <div class="project-tags">
          <p>Tags:&nbsp;</p>
          <div class="card-tags">
            {% for tag in page.tags %}
              <span class="card-tag">{{ tag }}</span>
            {% endfor %}
          </div>
        </div> -->

        <div class="project-tags">
          <p>Tags:&nbsp;</p>
          <div class="card-tags" id="card-tags">
            {% for tag in page.tags %}
              <span class="card-tag" data-encoded-tag="{{ tag | url_decode }}">{{ tag | url_decode }}</span>
            {% endfor %}
          </div>
        </div>
        
        {% if page.video_link %}
        
        
            <div id="videoPreview" style="grid-column: 1 / 3">
                <label>Video:</label>
                </br>
                <iframe id="videoFrame" src="" 
                    width="560" height="315" frameborder="0" allowfullscreen>
                </iframe>
            </div>
            
            <script>
              
                function getId(url) {
                    const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
                    const match = url.match(regExp);

                    return (match && match[2].length === 11)
                      ? match[2]
                      : null;
                }

                let videoID = '';
                
                function insertVideoLink() {
                    console.log('print input');
                    console.log('{{ page.video_link }}');
                    //does YouTube link contain embed?
                    videoID = getId('{{ page.video_link }}');
                    input = "https://www.youtube.com/embed/" + videoID;
                    document.getElementById("videoFrame").src = input;
                    var x = document.getElementById("videoPreview");
                      if (x.style.display === "none") {
                        x.style.display = "block";
                      }
                }
                
                window.onload = insertVideoLink()
                
            </script>
    
    
        {% endif %}

        <p id="project-description" class="project-description"></p>
        <div class="project-buttons">
          <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="{{ site.baseurl }}/projects">Back to Projects</a>
          {% unless page.filename == "None" %}
            <select id="download-select" class="btn btn-primary btn-lg active">
              <option value="" selected disabled >Download Project</option>
            </select>
            <a id="download-link" style="display: none;"></a>
            <!-- <a class="btn btn-primary btn-lg active" role="button" aria-disabled="true" href="https://teachosm-geosurge-content-personal.s3.amazonaws.com/{{ page.filename }}">Download Project</a> -->
          {% endunless %}
        </div>

        <script>
          document.getElementById('thumbnailImage').onerror = function() {
              this.onerror = null;
              this.src = 'https://{{ site.PICS_UPLOADS_BUCKET }}-{{ site.STAGE }}.s3.amazonaws.com/{{ page.thumbnail }}';
          };

          // Suppose 'encodedDescription' is the URI-encoded string you get from the API
          let encodedDescription = "{{ page.description }}";

          //console.log(encodedDescription)

          // Decode the string
          let decodedDescription = decodeURIComponent(encodedDescription);

          //console.log(decodedDescription)
          //console.log('lets decode')

          // Insert the decoded string into the HTML
          document.getElementById('project-description').innerHTML = decodedDescription;

          // Decode the fields
          let decodedTitle = decodeURIComponent("{{ page.title }}");
          let decodedSubtitle = decodeURIComponent("{{ page.subtitle }}");
          let decodedAuthor = decodeURIComponent("{{ page.author }}");

          //console.log('lets decode title')
          //console.log(decodedTitle)
          // Set the decoded strings into the HTML
          document.querySelector('.project-title h1').textContent = decodedTitle;
          document.querySelector('.project-title h3').textContent = decodedSubtitle;
          document.querySelector('.project-title p').textContent = decodedAuthor;

        </script>

        <script>
          window.addEventListener('DOMContentLoaded', (event) => {
          var filename = "{{ page.filename }}";
          var filenameWithoutExtension = filename.substr(0, filename.lastIndexOf('.')) || filename;
          var docxFilename = filenameWithoutExtension + ".docx";
          var docFilename = filenameWithoutExtension + ".doc";
          
          var originalUrl = "https://{{ site.CONTENT_BUCKET }}-{{ site.STAGE }}.s3.amazonaws.com/" + filename;
          var docxUrl = "https://{{ site.CONTENT_BUCKET }}-{{ site.STAGE }}.s3.amazonaws.com/" + docxFilename;
          var docUrl = "https://{{ site.CONTENT_BUCKET }}-{{ site.STAGE }}.s3.amazonaws.com/" + docFilename;

          // Create option for original file
          var originalOption = document.createElement('option');
          originalOption.text = 'PDF File';
          originalOption.value = originalUrl;

          // Create option for .docx file
          var docxOption = document.createElement('option');
          docxOption.text = 'DOCX File';
          docxOption.value = docxUrl;

          // Create option for .docx file
          var docOption = document.createElement('option');
          docOption.text = 'DOC File';
          docOption.value = docUrl;

          // Add options to select
          var downloadSelect = document.getElementById('download-select');
          downloadSelect.appendChild(originalOption);
          

          // Show select if .docx file exists
          fetch(docxUrl, { method: 'HEAD' })
            .then(res => {
              if (res.ok) {
                console.log('DocX does exist');
                downloadSelect.appendChild(docxOption);
                downloadSelect.style.display = 'block';
              } else {
                console.log('File does not exist');
              }
            })
            .catch(err => console.log('Error:', err));

          // Show select if .docc file exists
          fetch(docUrl, { method: 'HEAD' })
            .then(res => {
              if (res.ok) {
                console.log('Doc does exist');
                downloadSelect.appendChild(docOption);
                downloadSelect.style.display = 'block';
              } else {
                console.log('File does not exist');
              }
            })
            .catch(err => console.log('Error:', err));

            // Set up event listener for select element
            downloadSelect.addEventListener('change', (event) => {
              var downloadLink = document.getElementById('download-link');
              downloadLink.href = event.target.value;
              downloadLink.download = '';
              downloadLink.click();
            });
        });

        </script>
      </content>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
