<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About TeachOSM</h2>
        <div class="section-subheading">TeachOSM was chartered in 2016 as a project of OpenStreetMap US (OSM US) to provide operational support and strategic guidance for the educational outreach mission of OSM US.

          The TeachOSM website's purpose is to be a central location to empower and support educators at all levels to integrate open source mapping and the OpenStreetMap ecosystem of tools in the classroom. Educators are encouraged to make use of the instructional materials to develop projects for their particular discipline and curricular needs. This site also provides resources to support educators in identifying, assigning, managing and grading mapping projects. This site includes training resources for both educators and students.

        TeachOSM is led by a volunteer steering committee based throughout the United States, and relies upon educators, students, and OpenStreetMap contributors all over the globe.
        </div>
        </br></br>
      </div>
    </div>


    <div class="row text-center">

      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <a href="{{site.baseurl}}/projects"><img src="{{site.baseurl}}/assets/images/about_icons/educational_content.png" width="100px"></a>
        </span>

        <h4>Educational Content</h4>
        <p class="">The Projects Portal is where educators can share educational exercises, projects and lesson plans with one another and obtain contact information for educators around the world.</p>
      </div>


      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <img src="{{site.baseurl}}/assets/images/about_icons/educator_training.png" width="100px">
        </span>
        <h4>Educator Training</h4>
        <p class="">We offer educator training in person and remotely and announce those training opportunities and other similar educator training opportunities through our calendar of events.</p>
      </div>


      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <img src="{{site.baseurl}}/assets/images/about_icons/open_mapping_resources.png" width="100px">
        </span>

        <h4>Open Mapping Resources</h4>
        <p class="">We have curated various OpenStreetMap and other open mapping resources that we have identified as helping educators solve issues and roadblocks either themselves or their students commonly encounter.</p>
      </div>


    </div>
  </div>
</section>
