<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--<link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css" />
  <!--<link rel="stylesheet" href="{{site.baseurl}}/assets/css/agency.css" />-->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel='stylesheet' href="{{site.baseurl}}/assets/js/fullcalendar/dist/fullcalendar.min.css" />
  <link rel='stylesheet' href="{{site.baseurl}}/assets/js/jquery-ui-1.12.1/jquery-ui.min.css">

  <script src="{{site.baseurl}}/assets/js/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/bootstrap.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>

  <script src="{{site.baseurl}}/assets/js/fullcalendar/dist/moment.js"></script>
  <script src="{{site.baseurl}}/assets/js/fullcalendar/dist/fullcalendar.js"></script>
  <script src="{{site.baseurl}}/assets/js/fullcalendar/dist/gcal.js"></script>
  <title>TeachOSM</title>
</head>
